@import "medium/default.css";
@import "medium/medium-editor.css";
@import "posts";
@import "comments";
@import "form";
@import "nav";

$light: #fcfcfc;

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

* {
  font-family: 'PT Serif', serif;
}

* {
    box-sizing: border-box;
}

a, .btn {
  color: #494949;
  text-decoration: none;
}

a:hover, .btn:hover {
  color: #000;
  border-bottom: 2px dotted #222;
  text-decoration: none;
}

a:focus, .btn:focus, button:focus {
  outline: none;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  min-width: 70px;
  text-align: center;
  background: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 600px;
  }
  @media (min-width: 992px) {
    width: 650px;
  }
  @media (min-width: 1200px) {
    width: 700px;
  }
}

.alert {
  color: red;
}
.notice {
  color: green;
}