@import "bootstrap";
@import "medium/default.css";
@import "medium/medium-editor.css";
body {
  font-family: ff-meta-serif-web-pro,serif;
}
article {
  font-size: 1.1rem;
}
.medium-editor-element {
  
  position: relative;

  &:focus {
    outline-style: none;
	}

  &.medium-editor-placeholder:after {
    font-style: normal;
    cursor: text;
  }
  
  &:before {
    opacity: 1;
    right: 100%;
    padding: 0 10px;
    margin: 0 20px;
    border-right: 1px solid rgba(0,0,0,.18);
    content: attr(data-label);
    position: absolute;
    color: #b3b3b1;
  }

	&.medium-editor-placeholder:before {
    opacity: 0;
	}

}